.navbar-inverse {
    background: url(../img/contact-us-header.jpg);
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
    z-index: 999;

}