body {
    padding-top: 370px;
    background-color: #F2F2F2;
}

@media (max-width: 767px) {
     body {
         padding-top: 120px;
     }
}



@media screen and (min-width: 768px) {

    .jumbotron {
      padding: 20px 0;
    }
}

.jumbotron {
  background-color: white;
}

.anchor {
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
}

@media (max-width: 767px) {
    jumbotron > h1 {
    margin-left: 4%;
    }
}

.thumbnail {
    text-align: center;
    border: none;
}

.pager {
  font-size: 20px;
  margin: 0px 0;
}

* {
    font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 100;
}

p {
    text-align: justify;
}

address {
    font-size: 21px;
    font-weight: 200;
}

.navbar {
  font-size: 15px;
}

#myCarousel {
    width: 85%;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.basic {
    font-weight: 500;
    color: green;
}
.medium {
    font-weight: 500;
    color: orange;
}
.advanced {
    font-weight: 500;
    color: red;
}
