body {
    min-height: 2000px;
    padding-top: 370px;
    background-color: #F2F2F2;
}

@media (max-width: 767px) {
     body {
         padding-top: 120px;
     }
}

#brand {
    padding: 1px;
    padding-left: 14px;
    padding-right: 14px;
}

@media screen and (min-width: 768px) {
    #second-brand {
        font-size: 63px;
        line-height: 0px;
    }

    .jumbotron {
      padding: 20px 0;
    }
}

.header {
    background: url(../img/header.jpg) no-repeat 50% 0 fixed; height: 286px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

.jumbotron {
  background-color: white;
}

.anchor {
    display: block;
    height: 150px;
    margin-top: -150px;
    visibility: hidden;
}

@media (max-width: 767px) {
    jumbotron > h1 {
    margin-left: 4%;
    }
}

.thumbnail {
    text-align: center;
    border: none;
}
